body {
    min-width: 1440px;
    max-width: 3840px;
    min-height: 680px;
    max-height: 1040px;
    font-family: Microsoft YaHei,Verdana,Arial,Helvetica,sans-serif;
    background: url('../image/bg001.png') 0 0 no-repeat;
}